<ion-header>
    <ion-toolbar>
        <ion-title>Media</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<!--    <ion-button expand="full" (click)="getPlaylistsForChannel()" color="danger">Get Playlists-->
<!--    </ion-button>-->
<!--    <ion-button expand="full" (click)="getVideosForChannel()" color="danger">Load Videos-->
<!--    </ion-button>-->

    <ion-list class="ion-no-padding" *ngIf="playlists !== undefined">
        <ion-item *ngFor="let list of playlists" (click)="getListVideos(list.id)">
            <ion-thumbnail slot="start">
                <img [src]="list.snippet.thumbnails.standard.url" alt="">
            </ion-thumbnail>
            <p>{{ list.snippet.title }}</p>
            <small>{{ list.snippet.publishedAt | date: 'short' }}</small>
        </ion-item>
    </ion-list>

    <!--    <ion-list class="ion-no-padding" *ngIf="videos !== undefined && videos.length > 0">-->
    <!--        <ion-item *ngFor="let video of videos" (click)="openVideo(video.id.videoId)">-->
    <!--            <ion-thumbnail slot="start">-->
    <!--                <img [src]="video.snippet.thumbnails.medium.url" alt="">-->
    <!--            </ion-thumbnail>-->
    <!--            <p>{{ video.snippet.title }}</p>-->
    <!--            <small>{{ video.snippet.publishedAt | date: 'short'}}</small>-->
    <!--        </ion-item>-->
    <!--    </ion-list>-->

    <ion-grid *ngIf="videos !== undefined && videos.length > 0">
        <ion-row *ngFor="let video of videos" (click)="openVideo(video.id.videoId)"
                 [class]="'underline shadow mb-1 ' + (video.liveBroadcastContent == 'none')?' shadow ':' live '"
                 style="border:1px solid #dedede; border-radius: 5px; margin-bottom: 5px">
            <ion-col size="2">
                <ion-thumbnail>
                    <img [src]="video.snippet.thumbnails.medium.url" alt="" width="100%">
                </ion-thumbnail>
            </ion-col>
            <ion-col size="8"><p>{{ video.snippet.title }}</p></ion-col>
            <ion-col size="2"><small>{{ video.snippet.publishedAt | date: 'short'}}</small></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
