ion-badge {
    left: calc(50% + 3px);
    padding: 5px;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    .count {
    	font-size: 12px;
    }
}
ion-label{
	font-family: "Roboto", "Helvetica Neue", sans-serif !important;
}
