  .location-page{ 
    #map_canvas {
        width: 90%;
        height: 80%;
        border: 1px solid red;
    }
    #address {
      padding: 10px;
      font-size: 18px;
      font-weight: bold;
    }
    #map {
      width: 100%;
      height: 100px;
    }
    .map-wrapper {
      position: relative;
      #map_center {
        position: absolute;
        z-index: 99;
        height: 40px;
        width: 40px;
        top: 50%;
        left: 50%;
        margin-left: -21px;
        margin-top: -41px;
      }
    }

    .name-section{
      text-align: center;
      margin: 30px 0;
      h1{
        font-size: 25px;
        text-transform: uppercase;
        color: var(--ion-color-primary);
        font-weight: bold;
      }
      h4{
        font-size: 14px;
      }
    }

    .current-location{
      padding: 0px;
      ion-icon{
        margin-right: 5px;
      }
      .button{
        margin-bottom: 20px;
      }
      .location_button{
        font-size: 12px;
      }
    }
    
    .account{
      margin-bottom: 30px;
      .sign-in-button{
        text-align: center;
      }
  
      .sign-up-button{
        text-align: center;
        margin-top: 20px;
      } 
    }

    ion-searchbar{
      padding: 0 20px;
    }

    .searchbar-input.sc-ion-searchbar-md {
      border: 1px solid #fff !important;
    }
    .searchbar-search-icon{
      display: none;
    }
}