<ion-header mode="ios">
  <ion-toolbar mode="md">
  	<ion-buttons slot="start" (click)="close()">
      <ion-back-button defaultHref="{{'/'+path}}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"Locations" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="location-page">
<!--div #map id="map" style="height: 40%;"></div-->

  <!-- <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" (ionClear)="ClearAutocomplete()"> -->
  <ion-searchbar [(ngModel)]="userAddress" mode="ios" animated placeholder="{{'Enter your delivery address' | translate}}" (ionInput)="UpdateSearchResults()" (ionClear)="ClearAutocomplete()">
  </ion-searchbar>

  <div class="current-location" *ngIf="autocompleteItems.length == 0">
    <ion-button expand="block" shape="round" mode="ios" color="danger" fill="clear" class="location_button" (click)="currentLoadUserMap()">
      <ion-icon name="locate-outline"></ion-icon>
      {{'Use Current Location' | translate}}
    </ion-button>
  </div>

  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item lines="full" style="--padding-top: 4px; --padding-bottom: 4px;" *ngFor="let item of autocompleteItems" button="true" (click)="SelectSearchResult(item.description)">
      <ion-label><h2>{{ item.description }}</h2></ion-label>
    </ion-item>
  </ion-list>

</ion-content>