<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/events"></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="event!= undefined">{{event.title.rendered}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-card *ngIf="event!= undefined">
        <h3 [innerHTML]="event.title.rendered" class="ion-padding-horizontal"></h3>
        <img src="{{event.featured_image.size_full}}" *ngIf="event.featured_image.size_full !=''"/>
        <ion-card-header>
            <ion-card-subtitle
                    *ngIf="event.mec_allday == 0">
                <strong>Dates: </strong>{{event.mec_date.start.date }}
                @{{event.mec_date.start.hour }}{{(event.mec_date.start.minutes == 0) ? '' : ':' + event.mec_date.start.minutes }}{{event.mec_date.start.ampm }}
                -
                {{event.mec_date.end.date }}
                @{{event.mec_date.end.hour }}{{(event.mec_date.end.minutes == 0) ? '' : ':' + event.mec_date.end.minutes}}{{event.mec_date.end.ampm }}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="event.mec_allday != 0">All Day Event
            </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <ion-row>
                <ion-col size="12" [innerHTML]="event.content.rendered"></ion-col>
            </ion-row>
            <ion-row *ngIf="event.mec_location != null && event.mec_location.length > 0">
                <ion-col size="5"><strong>Location:</strong></ion-col>
                <ion-col class="ion-wrap ion-text-wrap" [innerHTML]="event.mec_location[0].name"></ion-col>
            </ion-row>
            <ion-row>
                <ion-col></ion-col>
                <ion-col><a [href]="event.link">
                    <ion-button expand="block" color="success">View on browser</ion-button>
                </a></ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>
