<ion-header mode='ios' >
  <ion-toolbar>
   <div *ngIf="settings.settings.location_filter == 1">
      <ion-chip color="primary" *ngIf="api.userLocation.latitude" (click)="getLocation()">
        <ion-label>{{api.userLocation.address}}</ion-label>
        <ion-icon name="location-outline"></ion-icon>
      </ion-chip>
      <ion-chip color="primary" *ngIf="!api.userLocation.latitude" (click)="getLocation()">
        <ion-label>{{"Select your address" | translate}}</ion-label>
        <ion-icon name="location-outline"></ion-icon>
      </ion-chip>
    </div>

    <ion-title *ngIf="settings.settings.location_filter == 0" style="text-align: center;" class="logo-title">
       {{"HOLY LIFE MINISTRIES" | translate}}
      <!--img src="assets/image/logo.png" style="width: 50px;height: auto;"-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" *ngIf="settings.settings?.pull_to_refresh">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="spinner" *ngIf="!data.blocks?.blocks || loading"><ion-spinner> </ion-spinner></div>


<div *ngIf="data.blocks?.settings && !loading && (data.blocks.recentProducts.length || data.blocks.categories.length) && (!data.blocks.settings.location_filter || (data.blocks.settings.location_filter == 1 && api.userLocation.latitude != 0))">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="settings.settings?.enable_home_chat">
        <a href="https://wa.me/{{settings.settings?.whatsapp_number}}">
            <ion-fab-button size="small" color="whatsapp">
                <ion-icon name="logo-whatsapp"></ion-icon>
            </ion-fab-button>
        </a>
    </ion-fab>

  <div *ngFor="let children of data.blocks?.blocks" hideWhen="loading" class="blocks">

        <div *ngIf="children.block_type == 'banner_block'" [style.background-color]="children.bg_color != '#FFFFFF' ? children.bg_color : 'unset'" [style.margin]="children.margin" [style.padding]="children.padding" class="banner_block">

        <div class="{{children.header_align}}" [style.color]="children.title_color != '#000000' ? children.title_color : 'unset'">{{children.title}}</div>    
            <!-- Banner Slider -->
            <div *ngIf="children.children?.length && children.style == 'slider'">
                <ion-slides pager="true" [options]="slideOpts" dir="{{settings.dir}}">
                        <ion-slide *ngFor="let image of children.children"> 
                            <img class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}" src="{{image.image}}" [style.width.px]="screenWidth" [style.height.px]="getHeight(image)" (click)="goto(image)" [style.border-radius]="children.border_radius" [style.padding]="children.margin_between">
                        </ion-slide>
                </ion-slides>
            </div>

            <!-- Banner Scroll -->
            <div *ngIf="children.children?.length && children.style == 'scroll'" [ngClass]="{'floating-header': children.header_align == 'left_floating'}" class="floating-header banner-scroll {{children.banner_shadow}}">
                <img class="banner ion-activatable ion-focusable hydrated  {{children.banner_shadow}}" *ngFor="let image of children.children ; let i = index" src="{{image.image}}" (click)="goto(image)" [style.border-radius]="children.border_radius" [style.width.%]="children.child_width*this.settings.widthMultipy" [style.margin-right]="children.margin_between" [style.margin-left]=" i == 0 ? children.margin_between : 0">
            </div>

            <!-- Banner Grid -->
            <div *ngIf="children.children?.length && children.style == 'grid'" class="banner-grid">
                <ion-row class="row unlimited-items">
                    <ion-col class="ion-activatable ion-focusable hydrated" *ngFor="let image of children.children" size="{{children.child_width/8.33333333}}" [style.padding]="children.margin_between">
                        <img src="{{image.image}}" (click)="goto(image)" [style.border-radius]="children.border_radius" class="{{children.card_style}}  {{children.banner_shadow}} ion-activatable ion-focusable hydrated">
                    </ion-col>
                </ion-row>
            </div>

        </div>

        
        <div *ngIf="children.block_type == 'product_block' || children.block_type == 'flash_sale_block'">
        <div *ngIf="children.products?.length" [style.background-color]="children.bg_color != '#FFFFFF' ? children.bg_color : 'unset'" [style.margin]="children.margin" class="product-block">
        <ion-list-header *ngIf="children.products?.length" class="header-title {{children.header_align}}">
            <ion-label [style.color]="children.title_color != '#000000' ? children.title_color : 'unset'">{{children.title}}</ion-label>
        </ion-list-header>

        <div *ngIf="children.block_type == 'flash_sale_block' && !children.hide && children.products?.length" class="flash-sale-time">
            <ion-button style="--border-radius: 0;" mode="ios" size="small" color="dark">
            {{children.days}}
            </ion-button>
            <ion-button style="--border-radius: 0;" mode="ios" size="small" color="dark">
            {{children.hours}}
            </ion-button>
            <ion-button style="--border-radius: 0;" mode="ios" size="small" color="dark">
            {{children.minutes}}
            </ion-button>
            <ion-button style="--border-radius: 0;" mode="ios" size="small" color="dark">
            {{children.seconds}}
            </ion-button>
        </div>


        <!-- Products Scroll -->
        <div *ngIf="children.products?.length && children.style == 'scroll'" class="related-products products">
          <div class="block-scroll-related-products" [style.padding]="children.padding">
              <div class="product" *ngFor="let item of children.products" [style.width.px]="settings.dimensions.homeSliderWidth">
                  <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
                    <ion-card-content>
                    <ion-img alt="" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)" [style.height.px]="settings.dimensions.homeSliderHeight"></ion-img>
                    <ion-img alt="" [style.height.px]="settings.dimensions.homeSliderHeight" *ngIf="!item.images?.length" src="assets/image/logo.png" (click)="getProduct(item)"></ion-img><ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
                    <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
                    <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
                    <div *ngIf="item.stock_status == 'instock'">
                    <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
                    </div>
                    </ion-card-content>
                    <ion-card-header (click)="getProduct(item)">
                        <ion-card-title mode="md">{{item.name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <p class="price">
                            <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                            <span class="regular-price" *ngIf="item.sale_price"><span [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del [innerHTML]="item.formated_price"></del></span></span>
                        </p>
                        <ion-row class="ion-align-items-center ion-justify-content-center">
                        <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                                <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                                  {{item.stock_status == 'outofstock' ? "No Stock" : "ADD"  | translate}}
                                </ion-button>
                            </ion-col>
                            <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                          <ion-row>
                            <ion-col>
                                  <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                                  <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                                  </ion-button>
                            </ion-col>
                            <ion-col>
                                  <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                                  </ion-button>
                            </ion-col>
                            <ion-col>
                                  <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                                  </ion-button>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                        </ion-row>
                      </ion-card-content>
                  </ion-card>
              </div>
          </div>
        </div>

        <!-- Products  Grid-->
        <div class="product-grid products" *ngIf="children.products?.length && children.style == 'grid'">
            <ion-row class="row unlimited-items">
                <ion-col size="6" size-sm="3" size-md="2" class="col" *ngFor="let item of children.products" [style.padding]="children.margin_between">
                    <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}" [style.border-radius]="children.border_radius">
                        <img alt="" style="height: auto" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)"/>
                        <ion-img alt="" style="height: auto" *ngIf="!item.images?.length" src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
                        <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
                        <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
                        <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
                        <div *ngIf="item.stock_status == 'instock'">
                        <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
                        </div>
                        <ion-card-header>
                        <ion-card-title mode="md">{{item.name}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                            <p class="price">
                                <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                                <span class="regular-price" *ngIf="item.sale_price"><span [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del [innerHTML]="item.formated_price"></del></span></span>
                            </p>
                            <ion-row class="ion-align-items-center ion-justify-content-center">
                            <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                                    <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                                      {{item.stock_status == 'outofstock' ? "No Stock" : "ADD"  | translate}}
                                    </ion-button>
                                </ion-col>
                                <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                              <ion-row>
                                <ion-col>
                                      <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                                      <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                                      </ion-button>
                                </ion-col>
                                <ion-col>
                                      <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                                      </ion-button>
                                </ion-col>
                                <ion-col>
                                      <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                                      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                                      </ion-button>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                            </ion-row>
                          </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </div>
        </div>
        </div>

        <!-- category-block-->
        <div *ngIf="children.block_type == 'category_block'" [style.background-color]="children.bg_color != '#FFFFFF' ? children.bg_color : 'unset'" [style.margin]="children.margin" [style.padding]="children.padding" class="category">
        <div *ngIf="data.categories" class="{{children.header_align}}" [style.color]="children.title_color != '#000000' ? children.title_color : 'unset'">{{children.title}}</div>
            <!-- Category Scroll -->
            <div *ngIf="data.categories && children.style == 'scroll'" class="category-slider-scroll">
                <div class="scrollmenu2" [ngClass]="{'floating-header': children.header_align == 'left_floating'}">
                <div class="scroll-related-products">
                  <div class="product" *ngFor="let item of getSubCategories(children.link_id)" [style.width.%]="children.child_width" [style.padding]="children.margin_between">
                      <ion-card button="true" mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius" (click)="getCategory(item.id)">
                        <img *ngIf="item.image?.src" src="{{item.image.src}}">
                        <ion-card-header>
                            <ion-card-title text-center mode="md" [innerHTML]="item.name">{{item.name}}</ion-card-title>
                        </ion-card-header>
                      </ion-card>
                  </div>
                </div>
                </div>
            </div>
            
            <!-- Category Grid -->
            <div *ngIf="data.categories && children.style == 'grid'" class="category-slider-grid">
                <ion-row class="row unlimited-items">
                    <ion-col class="col {{item.slug}}" *ngFor="let item of getSubCategories(children.link_id)" [style.width.%]="children.child_width" [style.padding]="children.margin_between">
                        <div class="ion-activatable ion-focusable hydrated">
                            <ion-card button="true" (click)="getCategory(item.id)" mode="md" class="ion-activatable ion-focusable hydrated {{children.banner_shadow}}" [style.border-radius]="children.border_radius"> 
                                <img *ngIf="item.image?.src" src="{{item.image.src}}">
                                <ion-card-header>
                                    <ion-card-title text-center mode="md" [innerHTML]="item.name">{{item.name}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>

      </div>

    <div *ngIf="data.blocks?.featured?.length" class="related-products products">
        <ion-list-header>
            <ion-label>{{"Featured Products" | translate}}</ion-label>
        </ion-list-header>
      <div class="scroll-related-products">
          <div class="product" *ngFor="let item of data.blocks.featured" [style.width.px]="settings.dimensions.homeSliderWidth">
              <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
                <ion-card-content>
                <ion-img alt="" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)" [style.height.px]="settings.dimensions.homeSliderHeight"></ion-img>
                <ion-img alt="" [style.height.px]="settings.dimensions.homeSliderHeight" *ngIf="!item.images?.length" src="assets/image/logo.png" (click)="getProduct(item)"></ion-img><ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
                <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
                <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
                <div *ngIf="item.stock_status == 'instock'">
                <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
                </div>
                </ion-card-content>
                <ion-card-header (click)="getProduct(item)">
                    <ion-card-title mode="md">{{item.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="price">
                        <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                        <span class="regular-price" *ngIf="item.sale_price"><span [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del [innerHTML]="item.formated_price"></del></span></span>
                    </p>
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                    <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                            <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                              {{item.stock_status == 'outofstock' ? "No Stock" : "ADD"  | translate}}
                            </ion-button>
                        </ion-col>
                        <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                      <ion-row>
                        <ion-col>
                              <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                              </ion-button>
                        </ion-col>
                        <ion-col>
                              <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                              </ion-button>
                        </ion-col>
                        <ion-col>
                              <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                              </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    </ion-row>
                  </ion-card-content>
              </ion-card>
          </div>
      </div>
    </div>

    <div *ngIf="data.blocks?.on_sale?.length" class="related-products products">
      <ion-list-header>
        <ion-label>{{"Onsale Products" | translate}}</ion-label>
      </ion-list-header>
      <div class="scroll-related-products">
          <div class="product" *ngFor="let item of data.blocks.on_sale" [style.width.px]="settings.dimensions.homeSliderWidth">
              <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
                <ion-card-content>  <ion-img alt="" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)" [style.height.px]="settings.dimensions.homeSliderHeight"></ion-img>
                <ion-img alt="" [style.height.px]="settings.dimensions.homeSliderHeight" *ngIf="!item.images?.length" src="assets/image/logo.png" (click)="getProduct(item)"></ion-img><ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
                <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
                <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
                <div *ngIf="item.stock_status == 'instock'">
                <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
                </div>
                </ion-card-content>
                <ion-card-header (click)="getProduct(item)">
                    <ion-card-title mode="md">{{item.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="price">
                        <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
                        <span class="regular-price" *ngIf="item.sale_price"><span [innerHTML]="item.formated_sales_price"></span><span class="special-price"><del [innerHTML]="item.formated_price"></del></span></span>
                    </p>
                    <ion-row class="ion-align-items-center ion-justify-content-center">
                    <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                            <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                              {{item.stock_status == 'outofstock' ? "No Stock" : "ADD"  | translate}}
                            </ion-button>
                        </ion-col>
                        <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
                      <ion-row>
                        <ion-col>
                              <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                              <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                              </ion-button>
                        </ion-col>
                        <ion-col>
                              <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                              </ion-button>
                        </ion-col>
                        <ion-col>
                              <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                              </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    </ion-row>
                  </ion-card-content>
              </ion-card>
          </div>
      </div>
    </div>


<ion-row *ngIf="data.products?.length" class="products">
    <ion-col size="{{settings.colWidthLatest}}" *ngFor="let item of data.products" [style.padding.px]="settings.dimensions.productPadding">
    <ion-card mode="md" class="ion-activatable ion-focusable hydrated {{settings.settings.product_shadow}} {{data.cart[item.id] >= 1 ? 'borderline-card' : ''}}" [style.border-radius.px]="settings.dimensions.productBorderRadius">
      <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="item.images?.length" [src]="item.images[0].src" (click)="getProduct(item)"></ion-img>
      <ion-img alt="" [style.height.px]="settings.dimensions.homeGridViewHeight" *ngIf="!item.images?.length" src="assets/image/logo.png" (click)="getProduct(item)"></ion-img>
      <ion-icon name="heart-outline" mode="md" class="wishlist-button-grid" *ngIf="!settings.wishlist[item.id]" (click)="settings.addToWishlist(item.id)"></ion-icon>
      <ion-icon name="heart" color="{{settings.theme.button}}" mode="md" class="wishlist-button-grid" *ngIf="settings.wishlist[item.id]" (click)="settings.removeFromWishlist(item.id)"></ion-icon>
        <ion-button color="danger" class="stock" *ngIf="item.stock_status == 'outofstock'">{{"No Stock" | translate}}</ion-button>
        <div *ngIf="item.stock_status == 'instock'">
        <ion-button color="success" class="offer" *ngIf="((item.regular_price - item.price) /item.regular_price*100) >= 1">{{(item.regular_price - item.price) /item.regular_price*100 | number : '1.0-0'}}%</ion-button>
        </div>
      <ion-card-header>
        <ion-card-title mode="md">{{item.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="price">
            <span class="regular-price" *ngIf="!item.sale_price" [innerHTML]="item.formated_price"></span>
            <span class="regular-price" *ngIf="item.sale_price"><span [innerHTML]="item.formated_sales_price"></span><del><span class="special-price" [innerHTML]="item.formated_price"></span></del></span>
        </p>
        <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col *ngIf="data.cart[item.id] == undefined || data.cart[item.id] == 0">
                <ion-button expand="block" size="small" color="{{settings.theme.button}}" [disabled]="item.stock_status == 'outofstock'" (click)="addToCart(item)">
                  {{item.stock_status == 'outofstock' ? "No Stock" : "ADD"  | translate}}
                </ion-button>
            </ion-col>
            <ion-col style="text-align: center;" *ngIf="data.cart[item.id] >= 1" align-self-end>
          <ion-row>
            <ion-col>
                  <ion-button expand="block" size="small" color="{{settings.theme.button}}" (click)="deleteFromCart(item)">
                  <ion-icon slot="icon-only" name="remove-circle-outline"></ion-icon>
                  </ion-button>
            </ion-col>
            <ion-col>
                  <ion-button expand="full" fill="outline" color="{{settings.theme.button}}" *ngIf="data.cart[item.id] >= 1">{{data.cart[item.id]}}
                  </ion-button>
            </ion-col>
            <ion-col>
                  <ion-button expand="block"  size="small" color="{{settings.theme.button}}"  *ngIf="data.cart[item.id] >= 1" (click)="updateToCart(item)">
                  <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
                  </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    </ion-col>
</ion-row>

  <ion-infinite-scroll threshold="100px" *ngIf="hasMoreItems && data.products?.length" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>

    <div class="no-service" *ngIf="!loading && settings.settings && settings.settings.location_filter == 1">
      <ion-label *ngIf="data.blocks && (!data.blocks.recentProducts.length && !data.blocks.categories.length)">
        <ion-icon color="medium" name="location-outline"></ion-icon>
        <h2>Sorry, Service is not available in your city. we will be there soon!</h2>
        <ion-button mode="md" color="{{settings.theme.button}}" expand="block" fill="solid" (click)="getLocation()">{{"Address" | translate}}</ion-button>
      </ion-label>

      <!--ion-label *ngIf="api.userLocation.latitude == 0">
        <ion-icon color="medium" name="location-outline"></ion-icon>
        <h2>Please choose your address!</h2>
        <ion-button mode="md" color="{{settings.theme.button}}" expand="block" fill="solid" (click)="getLocation()">{{"Address" | translate}}</ion-button>
      </ion-label-->
    </div>
  
</ion-content>
